{% extends "base.html" %}

{% block main %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE CONTENT-->
            <h1>Two Factor Authentication Setup</h1>
            <p>You are almost done! Please start FreeOTP on your smartphone and scan the following QR Code with it:</p>
            <p><img id="qrcode" src="{{ url_for('two_factor_qrcode') }}"></p>
            <p>I'm done, take me to the <a href="{{ url_for('two_factor_login') }}">Login</a> page!</p>
        </div>
    </div>
{% endblock %}