{% extends 'flask_user/emails/base_message.html' %}

{% block message %}
    <table class="container content" align="center" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: inherit;width: 580px;margin: 0 auto">
      <tr style="padding: 0;vertical-align: top;text-align: left"><td style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding: 0;vertical-align: top;text-align: left;color: #222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px">
				<table class="row note" style="border-spacing: 0;border-collapse: collapse;padding: 0;vertical-align: top;text-align: left;width: 100%;position: relative;display: block"><tr style="padding: 0;vertical-align: top;text-align: left"><td class="wrapper last" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding: 0;vertical-align: top;text-align: left;position: relative;padding-right: 0;color: #222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px">
						<h4 style="color: #222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;padding: 0;margin: 5px 0 15px 0;text-align: left;line-height: 1.3;word-break: normal;font-size: 22px;display: block">Your password has been changed.</h4>
                        {% if user_manager.enable_forgot_password %}
                        <p>If you did not initiate this password change, <a href="{{ url_for('user.forgot_password', _external=True) }}" style="color: #2ba6cb;text-decoration: none">click here to reset it</a>.</p>
							</td>
							<td class="expander" style="word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;padding: 0 !important;vertical-align: top;text-align: left;visibility: hidden;width: 0;color: #222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;margin: 0;line-height: 19px;font-size: 14px">
							</td>
						</tr></table><p style="margin: 0;color: #222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;padding: 0;text-align: left;line-height: 19px;font-size: 14px;margin-bottom: 10px">
							 If clicking the URL above does not work, copy and paste the URL into a browser window.
						</p>
						<!-- END: Note Panel -->
                        {% endif %}

					</td>
				</tr></table></td>
		</tr>
    </table>
{% endblock %}
